<header-1></header-1>
<header-3></header-3>

<top-menu></top-menu>

<sidebar></sidebar>
<div class="col-md-9 col-sm-9 col-lg-9 col-xs-9 pads_no">
    <div class="section_table">
        <div class="Vr_header1 third_vr_adm">
        <div class="vr_fdacrdicon_i">
            <div class="vr_acrdicon_i">
            <img src="../assets/user-images/bill.png" alt="no_img" class="img-responsive icn-g">
            </div>
            <div class="Vr_header_sub">
            <h5 class="vr_header_title subs_vrtit">
                Kunden
            </h5>
            </div>
        </div>
        </div>
        
        <div>
            <form [formGroup]="heroForm">
                Customer Name : <input type="text" class="form-control" [formControl]="customerName">

                <p>Form value: {{ heroForm.value | json }}</p>
            </form>
        </div>

    </div>
</div>

<footer></footer>