<div class="col-xs-12 pads_no1">
    <div class="section_acc">
        <div class="section_acc11">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Listen
                                 <i class="more-less glyphicon glyphicon-minus accrdion_Pkicon"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="accord_img_para">
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/date.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Date
                                        </div>
                                    </a>
                                </li>
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/edit.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Bearbeiten
                                        </div>
                                    </a>
                                </li>
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/action.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            listen Akteionen
                                        </div>
                                    </a>
                                </li>
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/course.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Verlauf
                                        </div>
                                    </a>
                                </li>
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/sheet.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Auswertungen
                                        </div>
                                    </a>
                                </li>
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/exla.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Extra Helife
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
               <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading sec" role="tab" id="headingtwo">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" aria-expanded="true" aria-controls="collapseOne">
                                Listen
                                 <i class="more-less glyphicon glyphicon-minus accrdion_Pkicon"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapsetwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="accord_img_para">
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/journal.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Journal
                                        </div>
                                    </a>
                                </li>
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/exla.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Offten posten
                                        </div>
                                    </a>
                                </li>
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/money.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Zahlungen
                                        </div>
                                    </a>
                                </li>
                                <li class="accrd_img">
                                    <a href="#" class="vr_mens">
                                        <div class="vr_acrdicon_img">
                                            <img src="../../assets/user-images/money1.png" alt="no_img" class="img-responsive icn-ig">
                                        </div>
                                        <div class="vr_acrdicon_para">
                                            Uberweisungen
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>