<section class="vr_icon_section">
    <div class="Vr_icon_sec_comm">
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="Vr_icon_sub_sec">
                <ul class="Vr_icon_sub_co">
                    <li class="Vr_icon_sub_commms">
                        <a (click)="goAddNew()"  class="vr_mens1">
                            <div class="vr_icon_img">
                                <img src="../assets/user-images/new-invoice.png" alt="no_img" class="img-responsive icon-ig">
                            </div>
                            <div class="vr_icon_para">
                                Neu
                            </div>
                        </a>
                    </li>
                    <li class="Vr_icon_sub_commms">
                        <a href="#" class="vr_mens">
                            <div class="vr_icon_img">
                                <img src="../assets/user-images/offer.png" alt="no_img" class="img-responsive icon-ig">
                            </div>
                            <div class="vr_icon_para">
                                Angebote
                            </div>
                        </a>
                    </li>
                    <li class="Vr_icon_sub_commms">
                        <a href="#" class="vr_mens">
                            <div class="vr_icon_img">
                                <img src="../assets/user-images/invoice.png" alt="no_img" class="img-responsive icon-ig">
                            </div>
                            <div class="vr_icon_para">
                                Rechnungen
                            </div>
                        </a>
                    </li> 
                    <li class="Vr_icon_sub_commms">
                        <a href="#" class="vr_mens">
                            <div class="vr_icon_img">
                                <img src="../assets/user-images/customer.png" alt="no_img" class="img-responsive icon-ig">
                            </div>
                            <div class="vr_icon_para">
                            kunden
                            </div>
                        </a>
                    </li>
                    <li class="Vr_icon_sub_commms">
                        <a href="#" class="vr_mens">
                            <div class="vr_icon_img">
                                <img src="../assets/user-images/items.png" alt="no_img" class="img-responsive icon-ig">
                            </div>
                            <div class="vr_icon_para">
                                Artkiel
                            </div>
                        </a>
                    </li>
                    <li class="Vr_icon_sub_commms">
                        <a href="#" class="vr_mens">
                            <div class="vr_icon_img">
                                <img src="../assets/user-images/calender.png" alt="no_img" class="img-responsive icon-ig">
                            </div>
                            <div class="vr_icon_para">
                                Kalender
                            </div>
                        </a>
                    </li>
                    <li class="Vr_icon_sub_commms">
                        <a href="#" class="vr_mens">
                            <div class="vr_icon_img">
                                <img src="../assets/user-images/print.png" alt="no_img" class="img-responsive icon-ig">
                            </div>
                            <div class="vr_icon_para">
                                Drucken
                            </div>
                        </a>
                    </li>
                    <li class="Vr_icon_sub_commms">
                        <a href="#" class="vr_mens">
                            <div class="vr_icon_img">
                                <img src="../assets/user-images/manual.png" alt="no_img" class="img-responsive icon-ig">
                            </div>
                            <div class="vr_icon_para">
                                Hilfe
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
         </div>
    </div>
</section>