@font-face{
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
    font-family: OpenSans-Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face{
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face{
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}
p{
    margin-bottom: 0px !important;
}
a{
    text-decoration: none !important;
    color: #000000 !important;
}
.Vr_header1 {
    background-color: #3990d3;
    color: #fff;
    font-size: 15px;
    width: 100%;
    float: left;
    font-family: OpenSans-Semibold;
}
.Vr_header2 {
    background-color: #f1f1f1;
    width: 100%;
    float: left;
    padding: 2px 0px;
    font-family: OpenSans-Regular;
}
.vr_menu_change2 {
    margin-left: -70px;
}
.Vr_header_sub{
    margin: 9px auto;
}
.pads {
    padding-left: 0px !important;
}
.Vr_header3 {
    text-align: right;
    padding: 2px 0px;
}
ul.Vr_header3_1{
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    padding-left: 0px !important;
        list-style: none;
        margin-bottom: 0px !important
}
li.Vr_icon {
    margin-right: 55px;
}
.blues,.blue {
    color: #3990d3;
    margin-right: 5px;
    font-size: 16px !important;
}
.red{
    color: red;
    margin-right: 5px;
    font-size: 16px !important;
}
.Vr_img {
    width: 50%;
    float: left;
}
img.img-responsive.icon-img {
    margin: auto;
}
.Vr_img_comm {
    border: 1px solid #dcf0ff;
    width: 100%;
    float: left;
    padding: 28px;
    background-color: #dcf0ff;
    border-radius: 5px;
    margin-bottom: 25px;
    max-height: 90px;
}
section.vr_body {
    margin: 100px auto;
    width: 100%;
    float: left;
}
.Vr_img_para{
    margin-top: 7px;
    margin-left: -6px;
}
p.icon_par{
    font-family: OpenSans-Regular;
}
li.vr_menu_change1,li.vr_menu_change2{
    margin-right: 109px;
    font-family: OpenSans-Regular;
}
ul.Vr_head2,ul.Vr_icon_sub_co{
    /*display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;*/
    list-style: none;
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
ul.Vr_head2 li,ul.Vr_icon_sub_co li{
    display: inline-block;
}
li.Vr_icon_sub_commms {
    margin-right: 60px;
}
img.img-responsive.icon-ig {
    margin: auto;
}

/*******table*******/

section.vr_icon_section {
    width: 100%;
    float: left;
    margin: 8px auto;
}
section.vr_accordian_section{
    width: 100%;
    float: left;
}
ul.accord_img_para{
    padding-left: 0px !important;
    list-style: none;
}
.vr_acrdicon_img {
    width: 10%;
    float: left;
}
li.accrd_img {
    margin-bottom: 10px;
}
.section_acc{
    background-color: #3990d3;
    padding: 10px;
}
.pads_no {
    padding-left: 3px !important;
     padding-right: 0px !important;
}
.pads_no1 {
    padding-right: 3px !important;
    padding-left: 0px !important;
}
i.more-less.glyphicon.glyphicon-minus.accrdion_Pkicon,i.more-less.glyphicon.accrdion_Pkicon.glyphicon-plus {
    float: right;
}
i.more-less1.glyphicon.glyphicon-minus.accrdion_Pkicon,i.more-less1.glyphicon.accrdion_Pkicon.glyphicon-plus {
    float: right;
}
p.vr_header_title.subs_vrtit {
    padding-left: 8px;
}
h5.vr_header_title.subs_vrtit {
    padding-left: 8px;
}
div#headingOne,div#headingtwo{
    background-color: #e6f6ff;
}
h4.panel-title{
    font-size: 15px !important;
}
div#accordion {
    margin-bottom: 8px !important;
}
/***search****/
.search1 {
    background-color: #e8e8e8;
}
.input-group.padsa {
    padding: 7px;
    width: 45%;
}
input.form-control.searc_vr,button.btn.btn-default.chanc_vr {
    background-color: #e8e8e8;
    border-radius: 0px !important;
}
button.btn.btn-default.chanc_vr:focus{
    outline: 0
}
button.btn.btn-default.chanc_vr{
    border-left: 0px !important;
    color: #3990d3;
}
input.form-control.searc_vr::placeholder{
    color: #000000;
}
div#anuswer_table_length {
    display: none;
}
/***search****/
/*******table*******/
tr.tab_tr1 {
    background-color: #e5f4ff;
}
tr.tab_trs {
    background-color: #e8e8e8;
}
.foot_tab {
    width: 100%;
    float: left;
}
.table_end_forms {
    width: 100%;
    float: left;
    background-color: #e8e8e8;
    padding: 3px 10px;
}
table.table.table-bordered.tab_chan{
    margin-bottom: 0px !important;
}
.form-group.vr_suchne {
    width: 80% !important;
}
input.form-control.vr_suchne1 {
    border-radius: 0px;
    background-color: #e8e8e8;
}
input.form-control.vr_suchne2{
     border-radius: 0px;
}
input.form-control.vr_suchne1 {
    width: 75%;
}
button.btn.btn-default.vr_suchne3{
    border-radius: 0px;
    background-color: #e8e8e8; 
}
div#anuswer_table_filter{
    float: left !important;
    width: 100%;
    text-align: left !important;
    margin-top: -12px;
    background-color: #e8e8e8;
}
div#anuswer_table_filter input {
    visibility: visible;
}
div#anuswer_table_filter label {
    visibility: hidden;
        width: 40%;
}
/*********third page******/
.vr_acrdicon_i {
    width: 6%;
    float: left;
}
img.img-responsive.icn-g {
    margin: 8px auto;
}
ul.window_close_icons{
   display: inline-flex;
   display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    padding-left: 0px !important;
    list-style: none;
    margin-bottom: 0px !important 
}
li.window_close_icon1{
    margin-right: 30px;
}
li.window_close_icon12 {
    margin-right: 8px;
}
.vr_fdacrdicon_i {
    width: 60%;
    float: left;
}
.Vr_hea.third_vr_adm2 {
    width: 40%;
    float: left;
    text-align: right;
    margin: 8px auto;
}
.Vr_third_inner_table {
    border: 1px solid #ccbebe;
    width: 100%;
    float: left;
    padding: 30px 0px;
    /* max-height: 500px; */
}
input.form-control.vr_suchne21,select#sel1,select#sel2,textarea#comment,.form-group.vr_tst_ara,select#sel12 {
    border-radius: 0px;
    width: 100%;
}
.vr_kunde,.vr_kunde_sele,select#sel1,.vr_multi_selt,select#sel2 {
    width: 100%;
}
.lablst_ara {
    border: 1px solid #b9b0b0;
    width: 40%;
    background-color: #dbefff;
    padding: 5px;
}
.form-group.vr_multi_selt {
    margin-bottom: 15px !important;
}
.form-group.vr_kunde {
    margin-bottom: 6px !important;
}
.form-group.vr_tst_ara {
    margin-bottom: 15px !important;
}
p.comments {
    color: #3990d3;
}
.vr_thrrt_gh {
    margin-bottom: 8px;
}
.tables_coms{
    width: 100%;
    float:left;
}
tr.tab_tr1.odd {
    background-color: #c2dff6;
}
thead.tab_hed {
    background-color: #e8e8e8;
}
 select#sel12 {
    border-radius: 0px;
    width: 85%;
    float: left;
    margin-right: 13px;
}
span.input-group-addon.adts {
    background-color: transparent;
    border: 1px solid #c5c3c3;
    border-radius: 0px;
}
.form-group.vr_kunde_sele {
    margin-bottom: 4px !important;
}
input.form-control.vr_suchne1.chs_thr {
    background-color: transparent;
}
.form-group.vr_suchnekl {
    width: 100%;
}
.form-group.vr_suchgh {
    float: left;
    width: 30%;
}
.form-group.vr_suchghdf {
    width: 60%;
    float: right;
}
input.form-control.vr_suchnejhk1.chs_thr {
    width: 100%;
    border-radius: 0px;
}
.form-group.vr_suchnekl {
    text-align: right;
}
.form-gop.vr_sunekl {
    width: 20%;
    float: left;
}
.form-group.vr_suchnekls {
    margin-top: 4px;
}
span.input-group-addon.clrd_vr {
    background-color: transparent;
}
.form-group.vr_suchnekls {
    width: 100%;
}
.input-group.vr_chens {
    width: 60%;
    text-align: right;
    float: right;
}
input.form-control.vr_maiyuls,span.input-group-addon.clrd_vr {
    border-radius: 0px;
}
.psdae,.pdsaxz1 {
    padding-right: 0px !important;
}
.pdsaxz{
    padding-left: 0px !important
}
th.tab_th.sorting,th.tab_th.sorting_asc,table#anuswer_table {
    border-color: #dddddd;
    border-bottom: 1px solid #dddddd;
}
i.fa.fa-close.win_cls1{
    color: red;
}
.form-group.vr_suchne.frt {
    text-align: right;
}
input.form-control.vr_suchne1.fredt{
    background-color: transparent;
}
.vr_btn {
    width: 30%;
    float: left;
}
.vr_btn1 {
    width: 37%;
    float: left;
}
.vr_btn2 {
    width: 33%;
    float: left;
}
button.btn_blu a{
    color: #fff !important;
}
button.btn_blu {
    background-color: #3990d3;
    color: #fff;
    border: 1px solid #3990d3;
    width: 130px;
    height: 42px;
    border-radius: 50px;
}
.vr_tabl_aftr_btn {
    border: 1px solid #d2cfcf;
    width: 100%;
    float: left;
    margin-top: 14px;
    padding: 25px 0px;
}
p.btn_aft {
    margin-top: 9px;
}
input.form-control.vr_suchn.fr{
    border-radius: 0 !important;
        width: 100%;
}
.btn_txt_nds,.btn_txt_nds1,.btn_txt_nds1 {
    width: 100%;
    float: left;
}
input.form-control.vr_sun.fr {
    width: 100%;
    border-radius: 0px;
    float: right;
}
.b_txt_nds2 {
    width: 75%;
    float: left;
    text-align: right;
}
.b_txt_nds1 {
    width: 25%;
    float: left;
}
.btn_txt_nds{
       margin-bottom: 10px;
}
.btn_txt_nds1{
    margin-bottom: 5px;
}
p.bt_aft {
    margin-top: 5px;
}
.btn_tt_nds1 {
    width: 20%;
    float: left;
}
.btn_tt1_nds1{
    width: 10%;
    float:left;
}
.btn_tt2_nds1{
   width: 10%;
    float:left; 
}
.btn_tt_nds1de{
   width: 40%;
    float:left;  
}
.btn_tt_nds1deds{
    width: 20%;
    float:left; 
    text-align:right;
}
.btn_txt_nds1.morrop{
    margin-top: 15px;
}
button.btn_blkk {
    background-color: #e8e8e8;
    border: 1px solid #d8d2d2;
    width: 100px;
    height: 33px;
}
button.btn_blkhk{
   background-color: #e8e8e8;
    border: 1px solid #d8d2d2;
    width: 38px;
    height: 33px; 
}
button.btn_blkhk2{
    background-color: #e8e8e8;
    border: 1px solid #d8d2d2;
    width: 38px;
    height: 33px; 
}
button.btn_blkll{
    background-color: #e8e8e8;
    border: 1px solid #d8d2d2;
    width: 204px;
    height: 33px;
    text-align: left;
}
button.btn_blkllfd{
    background-color: #e8e8e8;
    border: 1px solid #d8d2d2;
    width: 78px;
    height: 33px; 
}
.btn_riht {
    float: left;
    width: 100%;
}
table#anuswer_tablexs td.tab_td {
    padding: 13px !important;
}
.paras {
    width: 80%;
    float: left;
}
.paras1 {
    text-align: right;
}
.bpara_span {
    width: 70%;
    float: right;
    margin: 2px auto;
}
.btn_rihlkt {
    width: 70%;
    float: right;
    margin-top: 15px;
}
.btn_tt_nds1degg {
    width: 40%;
    float: left;
    text-align: right;
}
button.btn_blklljkl,button.btn_blkllfdlk{
    background-color: #e8e8e8;
    border: 1px solid #d8d2d2;
    width: 100px;
    height: 33px; 
}
button.btn_blklljkl {
    margin-right: -40px;
}
.btn_tt_nds1dedsgg{
    text-align: right;
}
.vr_thrd_right {
    width: 84%;
    float: right;
}
select#sel12t,select#sel12t1{
    border-radius: 0px;
    width: 100%;
    float: right;
    margin-right: 0px;
}
p.fr_names{
    margin-top: 4px;
}
input#datepicker-12 {
    width: 65%;
     border: 1px solid #cccccc;
      padding: 6px;
}
span.icson {
    border: 1px solid #cccccc;
    padding: 8px;
    margin-left: -4px;
}
i.more-less.glyphicon.glyphicon-minus.accrdion_Pkicon,i.more-less.glyphicon.accrdion_Pkicon.glyphicon-plus {
    color: #3990d3;
    font-size: 14px;
}
input.form-control.date {
    width: 100%;
    border-radius: 0px;
}
/*********third page******/
@media(max-width:767){

}
.vr_icon_img.bists,.vr_icon_img.bists{
    margin-bottom: 6px;
}
select.form-control.vr_suchne21 {
    width: 100%;
    border-radius: 0px;
}
button.neusd {
    width: 100%;
    border: 1px solid #cccccc;
    background-color: white;
    padding: 6px;
    outline: 0;
}
.form-group.vr_kunde.bistsd {
    margin-bottom: 20px !important;
}
button.bysdr {
    border: 1px solid #c5c5c5;
    background-color: transparent;
    padding: 6px 13px;
}
.vr_thrd_right {
    margin-bottom: 5px;
}
.margin_zero{
    margin: 0px;
}