input{
    margin-top: 10px;
    margin-bottom: -10px;
}
input::-webkit-input-placeholder{
    color: #000;
    font-weight: bold;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #3990d3 !important;
    border-color: #337ab7 !important;
}
.list_page{
    float: right;
}
/deep/ .sv_tab tr:nth-child(odd) {
    background: #c2dff6 !important;
}

/deep/ .sv_tab tr:nth-child(even) {
    background: #fff;
}

/deep/ .sv_tab tr:hover { 
    background-color: #B0BED9 !important;
    cursor: pointer;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #ddd !important;
}
main table.table.dataTable.table-striped.table-bordered th{
    border-bottom: 0px solid #ddd !important;
}
tr th {
    background: #e8e8e8 !important;
}
main{
    background-color: #e8e8e8 !important;
    background: #e8e8e8 !important;
}
/deep/ .sv_tab table thead th {
    background: #ddd !important;
}