<div class="Vr_header1">
    <div class="Vr_header_sub">
        <p class="vr_header_title subs_vrtit">
            Listen-Rechnun
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <input *ngIf="config.filtering" placeholder="Suarch" [ngTableFiltering]="config.filtering" class="form-control"
            (tableChanged)="onChangeTable(config)" />
    </div>
</div>
<br>
<div class="sv_tab">
<ng-table  [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns" >
</ng-table>
</div>
<div *ngIf="data.length < 1" class="text-center">No Data Found</div>
<pagination *ngIf="config.paging" class="pagination-sm list_page" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage"
    [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
</pagination>