 
  <div #cntt id="cntt">
    <div class="col-xs-12 pads_no">
    <div class="section_table">
      <div class="Vr_header1 third_vr_adm">
        <div class="vr_fdacrdicon_i">
          <div class="vr_acrdicon_i">
            <img src="../assets/user-images/bill.png" alt="no_img" class="img-responsive icn-g">
          </div>
          <div class="Vr_header_sub">
            <h5 class="vr_header_title subs_vrtit">
            Rechnung
            </h5>
          </div>
        </div>
      </div>
      <form #bill="ngForm" (ngSubmit)="formSubmit(bill)">
        <div class="Vr_third_inner_table">
          <div class="form-inlinexc" >
            <div class="col-md-6 col-sm-6 col-xs-6 pdsaxz">
              <div class="col-md-8 col-sm-8 col-xs-6 psdae">
                <div class="form-group vr_kunde bistsd">
                    <ng-select [allowClear]="true"
                                [items]="customer"
                                [disabled]="disabled"
                                (data)="refreshValue($event)"
                                (selected)="selected($event)"
                                (removed)="removed($event)"
                                (typed)="typed($event)"
                                placeholder="Select Customer">
                    </ng-select>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="form-group vr_kunde_sele">
                 <button class="neusd" disabled>Neu</button>
                </div>
                <!-- (click)="addCustomerRoute()" -->
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group vr_tst_ara">
                  <div class="lablst_ara">
                    <p class="commentsj">Textbausteine</p>
                  </div>
                  <div class="txt_vr_tst_ara">
                    <textarea #ppp  class="" rows="5" id="comment" name="top_greet_msg" ngModel></textarea>
                    <!-- form-control vr_txst_are -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="vr_thrd_right">
                <div class="vr_thrrt_gh">
                  <p class="comments">Rechnung</p>
                </div>
                <div class="form-group vr_kunde_sele">
                  <select class="form-control vr_kunde_sele1" id="sel12" name="form_type" ngModel>
                    <option>Rechnung(pc)</option>
                    <option>Rechnung</option>
                    <option>Rechnung</option>
                  </select>
                  <button class="bysdr"><img src="../assets/user-images/bill.png" alt="no_img" class="img-responsive icnf-g"></button>
                </div>
                <div class="row margin_zero">
                  <div class="form-group vr_suchgh">
                    <p class="fr_names">Rechnung-Nr</p>
                  </div>
                  <div class="form-group vr_suchghdf">
                    <input type="text" value="{{invoice_number}}" class="form-control vr_suchnejhk1 chs_thr" name="invoice_number" [ngModel]="invoice_number">
                  </div>
                </div>
                

                <div class="row margin_zero">
                  <div class="form-group vr_suchgh">
                    <p class="fr_names">Projekt-Nr</p>
                  </div>
                  <div class="form-group vr_suchghdf">
                    <input type="text" value="{{project_number}}" name="project_number" [ngModel]="project_number" >
                  </div>
                </div>

<!-- 
                <div class="form-group vr_suchnekls">
                  <div class="form-gop vr_sunekl">
                    <p class="fr_names">Projekt-Nr</p>
                  </div>
                  <div class="input-group vr_chens">
                    <input type="text" class="form-control vr_maiyuls" value="{{project_number}}" name="project_number" [ngModel]="project_number">
                    <span class="input-group-addon clrd_vr"><img src="../assets/user-images/edit1.png" alt="no_img" class="img-responsive icnf-g"></span>
                    <span class="input-group-addon clrd_vr"> <i class="fa fa-close win_cls1"></i></span>
                  </div>
                </div> -->

                <div class="row margin_zero">
                  <div class="form-group vr_suchgh">
                    <p class="fr_names">Kunde-Nr</p>
                  </div>
                  <div class="form-group vr_suchghdf">
                    <input type="text" value="{{customer_number}}" name="customer_number" [ngModel] class="form-control vr_suchnejhk1 chs_thr">
                  </div>
                </div>

                <!-- <div class="form-group vr_suchnekls">
                  <div class="form-gop vr_sunekl">
                    <p class="fr_names">Kunde-Nr</p>
                  </div>
                  
                  <div class="form-group vr_suchne frt">
                    <input type="text" class="form-control vr_suchne1 fredt" value="{{customer_number}}" ngModel>
                  </div>
                </div> -->


                <div class="row margin_zero">
                  <div class="form-group vr_suchgh">
                    <p class="fr_names">Datum</p>
                  </div>
                  <div class="form-group vr_suchghdf">
                    <input type="text" class="form-control date" value="{{today_date}}" id="{{today_date}}" name="today_date"  [ngModel]="today_date">
                  </div>
                </div>

                <!-- <div class="form-group vr_suchnekls">
                  <div class="form-gop vr_sunekl">
                    <p class="fr_names">Datum</p>
                  </div>
                  <div class="form-group vr_suchne frt">
                    <input type="text" class="form-control date" value="{{today_date}}" id="{{today_date}}" name="today_date"  [ngModel]="today_date">
                  </div>
                </div> -->

                <div class="row margin_zero">
                  <div class="form-group vr_suchgh">
                    <p class="fr_names">Mitarbeiter</p>
                  </div>
                  <div class="form-group vr_suchghdf">
                    <select class="form-control vr_kunde_sele1" id="sel12t" name="emp_name"  [ngModel]="emp_name">
                      <option *ngFor="let emp of employee" value="{{emp.name}}">{{emp.name}}</option>
                    </select>
                  </div>
                </div>

                <!-- <div class="form-group vr_suchnekls">
                  <div class="form-gop vr_sunekl">
                    <p class="fr_names">Mitarbeiter</p>
                  </div>
                  <div class="form-group vr_suchne frt">
                    <select class="form-control vr_kunde_sele1" id="sel12t" name="emp_name"  [ngModel]="emp_name">
                      <option *ngFor="let emp of employee" value="{{emp.name}}">{{emp.name}}</option>
                    </select>
                  </div>
                </div> -->

                <div class="row margin_zero">
                  <div class="form-group vr_suchgh">
                    <p class="fr_names">Zahlungsart</p>
                  </div>
                  <div class="form-group vr_suchghdf">
                    <select class="form-control vr_kunde_sele1" id="sel12t1" name="payment_type" [ngModel]="payment_type">
                      <option *ngFor="let pay of payment_type" value="{{pay.type}}">{{pay.type}}</option>
                    </select>
                  </div>
                </div>

                <!-- <div class="form-group vr_suchnekls">
                  <div class="form-gop vr_sunekl">
                    <p class="fr_names">Zahlungsart</p>
                  </div>
                  <div class="form-group vr_suchne frt">
                    <select class="form-control vr_kunde_sele1" id="sel12t1" name="payment_type" [ngModel]="payment_type">
                      <option *ngFor="let pay of payment_type" value="{{pay.type}}">{{pay.type}}</option>
                    </select>
                  </div>
                </div> -->



              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="vr_table_of_thr">
                <input type="button" value="ADD" class="pull-right" (click)="addFieldValue()">
                <table id="product_details" class="table table-bordered tab_chan table-responsive">
                  <thead class="tab_hed">
                    <tr class="tab_tr">
                      <th class="tab_th">pos.</th>
                      <th class="tab_th">Artikelnr</th>
                      <th class="tab_th">kurzbeschreibung</th>
                      <th class="tab_th">Menge</th>
                      <th class="tab_th">Einheit</th>
                      <th class="tab_th">E-preis</th>
                      <th class="tab_th">UST-satz(5%)</th>
                      <th class="tab_th">G-preis</th>
                      <th class="tab_th">Action</th>
                    </tr>
                  </thead>
                  <tbody id="product_details_bdy" #prd_table>

                    

                      <tr *ngFor="let field of fieldArray; let i = index" class="tr_{{i+1}}">
                          <td> {{i+1}} </td>

                            <!-- <td> <select (change)="prdChange($event.target.value,i,field.unit)" name='prd_name' >
                                <option value="0">--Select--</option>
                                <option *ngFor="let prd of products" value="{{prd.id}}">{{prd.name}}</option>
                              </select> 
                            </td> -->
                          
                              <td> 
                                  <ng-select [allowClear]="false"
                                    [items]="products"
                                    (selected)="prd_select($event,i,field.unit)"
                                    placeholder="Select Product">
                                  </ng-select>
                              </td>


                          <td><p class="s_desc"></p>{{field.name}} </td>
                          <td><p class="amnt">{{field.price}}</p> </td>
                          <td> <input #unit_{{i}}  type="number" id='unit_{{i}}' value="{{field.unit}}" (change)="quantityChange(field.id,$event.target.value,i)"  min="1" name='prd_unit'> </td>
                          <td><p class="tot">{{field.e_tot}}</p> </td>
                          <td><p class="tax_rate">{{field.tax}}</p> </td>
                          <td><p class="grand_total">{{field.grand_tot}}</p> </td>
                          <td> <input type="button" value="delete" (click)="deleteFieldValue(i)"> </td>
                      </tr>
                    
                  </tbody>
                </table>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="vr_tabl_aftr_btn">
                  <div class="col-md-7 col-sm-6 col-xs-6">
                    <div class="btn_txt_nds">
                      <div class="vr_btn">
                        <button class="btn_blu" type="button">brutto</button>
                      </div>
                      <div class="vr_btn1">
                        <p class="btn_aft">Rabatt (-) / Zuschlag (+) in %</p>
                      </div>
                      <div class="vr_btn2">
                        <input type="number" class="form-control vr_suchn fr" value="{{dis}}" (blur)="discountChange($event.target.value)">
                      </div>
                    </div>
                    <div class="btn_txt_nds1">
                      <div class="b_txt_nds1">
                        <p class="bt_aft">Mitteilung</p>
                      </div>
                      <div class="b_txt_nds2">
                        <input type="text" class="form-control vr_sun fr" name="greet_msg" [ngModel]="greet_msg">
                      </div>
                    </div>
                    <div class="btn_txt_nds1">
                      <div class="b_txt_nds1">
                        <p class="bt_aft">Zahlungsbed</p>
                      </div>
                      <div class="b_txt_nds2">
                        <input type="text" class="form-control vr_sun fr" name="zahlungsbed" [ngModel]="zahlungsbed">
                      </div>
                    </div>
                    <div class="btn_txt_nds1">
                      <div class="b_txt_nds1">
                        <p class="bt_aft">Versandart</p>
                      </div>
                      <div class="b_txt_nds2">
                        <input type="text" class="form-control vr_sun fr" name="delivery_place" [ngModel]="delivery_place">
                      </div>
                    </div>
                    <div class="btn_txt_nds1 morrop">
                      <div class="btn_tt_nds1">
                        <a href="#" class="bts_nb"><button class="btn_blkk" type="button">Hilfe</button></a>
                      </div>
                      <div class="btn_tt1_nds1">
                        <button class="btn_blkhk" type="button"><a href="#" class="bts_nb"><i class="fa fa-chevron-left vds"></i></a></button>
                      </div>
                      <div class="btn_tt2_nds1">
                        <button class="btn_blkhk2" type="button"><a href="#" class="bts_nb"><i class="fa fa-chevron-right vds"></i></a></button>
                      </div>
                      <div class="btn_tt_nds1de">
                        <button class="btn_blkll" type="button" (click)="printPdf()">Drucken</button>
                      </div>
                      <div class="btn_tt_nds1deds">
                        <button class="btn_blkllfd" type="button"><a href="#" class="bts_nb">Neu</a></button>
                      </div>
                    </div>
                  </div>



                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="btn_riht">
                      <div class="bpara_span">
                        <div class="paras">Summe netto</div>
                        <div class="paras1">{{total}}.00</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Versandkosten</div>
                        <div class="paras1">{{shipping}}.00</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">enth. MwSt.</div>
                        <div class="paras1">{{total_tax}}</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Summe netto</div>
                        <div class="paras1">{{total_net}}</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Rabatt (-) / Zuschlag (+)</div>
                        <div class="paras1">{{dis}}</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Anzahlung</div>
                        <div class="paras1">0.00</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Rechnungssumme</div>
                        <div class="paras1">{{grand_total}}</div>
                      </div>
                      <div class="btn_rihlkt">
                        <div class="btn_tt_nds1degg">
                          <button class="btn_blklljkl" type="submit">ok</button>
                        </div>
                        <div class="btn_tt_nds1dedsgg">
                          <button class="btn_blkllfdlk" (click)="goListPage()" type="button">Abbrechen</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </form>
    </div>
  </div>
