<div class="header">
    <header-1></header-1>
    <header-3></header-3>

    <top-menu></top-menu>
</div>
<div class="sidebar">
    <sidebar></sidebar>
</div>

<main>
    <router-outlet name="inner"></router-outlet>
</main>

<div class="footer">
    <footer></footer>
</div>