 
  <div #cntt id="cntt">
    <div class="col-xs-12 pads_no">
    <div class="section_table">
      <div class="Vr_header1 third_vr_adm">
        <div class="vr_fdacrdicon_i">
          <div class="vr_acrdicon_i">
            <img src="../assets/user-images/bill.png" alt="no_img" class="img-responsive icn-g">
          </div>
          <div class="Vr_header_sub">
            <h5 class="vr_header_title subs_vrtit">
            Rechnung
            </h5>
          </div>
        </div>
      </div>
      <form #bill="ngForm" (ngSubmit)="formSubmit(bill)">
        <div class="Vr_third_inner_table">
          <div class="form-inlinexc" >
            <div class="col-md-6 col-sm-6 col-xs-6 pdsaxz">
              <div class="col-md-8 col-sm-8 col-xs-6 psdae">
                <div class="form-group vr_kunde bistsd">
                    Customer Name :  {{res.customer_number}}
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group vr_tst_ara">
                  <div class="lablst_ara">
                    <p class="commentsj">Textbausteine</p>
                  </div>
                  <div class="txt_vr_tst_ara">
                    <textarea class="" rows="5" id="comment" name="top_greet_msg" >
                        {{res.top_greet_msg}}
                    </textarea>
                    <!-- form-control vr_txst_are -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="vr_thrd_right">
                <div class="vr_thrrt_gh">
                  <p class="comments">Rechnung  : {{res.form_type}}</p>
                </div>
                
                  <div class="rr">
                    <div class="col-md-6 pad_zero">Rechnung-Nr</div>
                    <div class="col-md-6 pad_zero">{{res.invoice_number}}</div>
                  </div>
                  <div class="rr">
                    <div class="col-md-6 pad_zero">Projekt-Nr</div>
                    <div class="col-md-6 pad_zero">{{res.project_number}}</div>
                  </div>
                  <div class="rr">
                    <div class="col-md-6 pad_zero">Kunde-Nr</div>
                    <div class="col-md-6 pad_zero">{{res.customer_number}}</div>
                  </div>
                  <div class="rr">
                    <div class="col-md-6 pad_zero">Datum</div>
                    <div class="col-md-6 pad_zero">{{res.date}}</div>
                  </div>
                  <div class="rr">
                    <div class="col-md-6 pad_zero">Mitarbeiter</div>
                    <div class="col-md-6 pad_zero">{{res.emp_name}}</div>
                  </div>
                  <div class="rr">
                    <div class="col-md-6 pad_zero">Zahlungsart</div>
                    <div class="col-md-6 pad_zero">{{res.payment_type}}</div>
                  </div>

              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="vr_table_of_thr">
                <table id="product_details" class="table table-bordered tab_chan table-responsive">
                  <thead class="tab_hed">
                    <tr class="tab_tr">
                      <th class="tab_th">pos.</th>
                      <th class="tab_th">Artikelnr</th>
                      <th class="tab_th">kurzbeschreibung</th>
                      <th class="tab_th">Menge</th>
                      <th class="tab_th">Einheit</th>
                      <th class="tab_th">E-preis</th>
                      <th class="tab_th">UST-satz(5%)</th>
                      <th class="tab_th">G-preis</th>
                    </tr>
                  </thead>
                  <tbody id="product_details_bdy" #prd_table>

                    

                      <tr *ngFor="let prd of res.products; let i = index" class="tr_{{i+1}}">
                          <td> {{i+1}} </td>

                          <td>  {{prd.name}}  </td>


                          <td><p class="s_desc"></p>{{prd.name}} </td>
                          <td><p class="amnt">{{prd.price}}</p> </td>
                          <td> {{prd.unit}} </td>
                          <td><p class="tot">{{prd.e_tot}}</p> </td>
                          <td><p class="tax_rate">{{prd.tax}}</p> </td>
                          <td><p class="grand_total">{{prd.grand_tot}}</p> </td>
                      </tr>
                    
                  </tbody>
                </table>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="vr_tabl_aftr_btn">
                  <div class="col-md-7 col-sm-6 col-xs-6">

                      <div class="rr">
                        <div class="col-md-6 pad_zero">Mitteilung</div>
                        <div class="col-md-6 pad_zero">{{res.greet_msg}}</div>
                      </div>
                      <div class="rr">
                        <div class="col-md-6 pad_zero">Zahlungsbed</div>
                        <div class="col-md-6 pad_zero">{{res.zahlungsbed}}</div>
                      </div>
                      <div class="rr">
                          <div class="col-md-6 pad_zero">Versandart</div>
                          <div class="col-md-6 pad_zero">{{res.delivery_place}}</div>
                        </div>
                    
                    
                  </div>



                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="btn_riht">
                      <div class="bpara_span">
                        <div class="paras">Summe netto</div>
                        <div class="paras1">{{res.total}}.00</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Versandkosten</div>
                        <div class="paras1">{{res.shipping}}.00</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">enth. MwSt.</div>
                        <div class="paras1">{{res.total_tax}}</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Summe netto</div>
                        <div class="paras1">{{res.total_net}}</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Rabatt (-) / Zuschlag (+)</div>
                        <div class="paras1">{{res.dis}}</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Anzahlung</div>
                        <div class="paras1">0.00</div>
                      </div>
                      <div class="bpara_span">
                        <div class="paras">Rechnungssumme</div>
                        <div class="paras1">{{res.grand_total}}</div>
                      </div>
                      
                      <div class="btn_rihlkt">
                        
                        <div class="btn_tt_nds1dedsgg">
                          <button class="btn_blkllfdlk" type="button" (click)="goBack()" ><a  class="bts_nb">Abbrechen</a></button>
                        </div>
                      </div>



                    </div>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </form>
    </div>
  </div>