<header-1></header-1>
<header-2></header-2>
<section class="vr_body">
    <div class="Vr_body1">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <div class="Vr_img_comm">
                    <a class="mds" href="#">
                    <div class="Vr_img">
                        <img src="assets/user-images/customer.png" class="img-responsive icon-img">
                    </div> 
                    <div class="Vr_img_para">
                        <p class="icon_par">kunden</p>
                    </div>
                </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a class="mds" href="#">
                    <div class="Vr_img_comm">
                        <div class="Vr_img">
                            <img src="assets/user-images/items.png" class="img-responsive icon-img">
                        </div> 
                        <div class="Vr_img_para">
                            <p class="icon_par">Artkiel</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
               <a class="mds" href="#">
                    <div class="Vr_img_comm">
                        <div class="Vr_img">
                            <img src="assets/user-images/manual.png" class="img-responsive icon-img">
                        </div> 
                        <div class="Vr_img_para">
                            <p class="icon_par">Liferanten</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
               <a class="mds" routerLink="/bill">
                    <div class="Vr_img_comm">
                        <div class="Vr_img">
                            <img src="assets/user-images/new-invoice.png" class="img-responsive icon-img">
                        </div> 
                        <div class="Vr_img_para">
                            <p class="icon_par">Rechnungen</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <a class="mds" href="#">
                    <div class="Vr_img_comm">
                        <div class="Vr_img">
                            <img src="assets/user-images/offer.png" class="img-responsive icon-img">
                        </div> 
                        <div class="Vr_img_para">
                            <p class="icon_par">Angebote</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
               <a class="mds" href="#">
                    <div class="Vr_img_comm">
                        <div class="Vr_img">
                            <img src="assets/user-images/customer.png" class="img-responsive icon-img">
                        </div> 
                        <div class="Vr_img_para">
                            <p class="icon_par">offence posten</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
               <a class="mds" href="#">
                    <div class="Vr_img_comm">
                        <div class="Vr_img">
                            <img src="assets/user-images/calender.png" class="img-responsive icon-img">
                        </div> 
                        <div class="Vr_img_para">
                            <p class="icon_par">mahungen</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<footer></footer>